/* Global Styles (Applied to all screen sizes) */
.icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.title {
  color: hsl(39, 91%, 66%);
  font-size: 2rem;
  font-weight: 600;
}

.contact-item {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
}

.title-div {
  text-align: center;
}

.form-right {
  border: 0.5px solid rgb(245, 184, 86);
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(255, 210, 96, 0.508);
  transform: scale(0.95);
}

.message-form input {
  border: none;
  background-color: transparent;
}

.form-col {
  display: block;
  width: 100%;
  font-size: 1.33em;
  padding: 0 2.75em;
  position: relative;
  line-height: 1.6;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-top: 15px;
}

.message-form .form-col h5 {
  position: absolute;
  left: 0;
  top: 3.4em;
  opacity: .33;
}

.message-form .label {
  width: 100%;
  display: block;
  margin-bottom: 0;
  font-weight: 450;
  padding-top: 1.66em;
  transition: all .2s ease-in-out;
}

input {
  cursor: text;
  color: white;
}

.btn-div {
  margin-top: 50px;
  text-align: center;
}

.btn-send {
  display: inline-block;
  padding: 0.5rem 2.2rem;
  background-color: #202020;
  border-radius: 4rem;
  font-size: 1.15rem;
  color: #f7c059;
  letter-spacing: 0.2rem;
  font-weight: 600;
  border: 2px solid #f7c059;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-send:hover {
  transform: scale3d(1.03);
  background-color: #f7c059;
  color: #202020;
  box-shadow: 0 0 25px #f7c059;
  font-weight: 800;
}

.field,
.field::placeholder {
  padding: 5px;
}

#form-message {
  margin-top: 15px;
  border-radius: 10px;
}

input,
.field {
  font-size: 1.12rem;
}

.contact-info {
  padding: 60px 40px;
  transform: scale(0.95);
}

.real-info {
  padding-top: 150px;
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 10px;
}

.contact-detail {
  color: white;
}
/* 
body {
  overflow-x: hidden; Prevent horizontal scrolling
} */

/* Apply scaling for screen sizes below 1440px */
@media (max-width: 1439px) {
  body {
    transform: scale(0.8);  
    transform-origin: top center;
  }
}

/* Laptop/Desktop View - Large Screens */
@media (min-width: 1025px) {
  .form-container {
    justify-content: space-evenly;
  }
  
  .contact-info {
    margin-right: 45px;
  }
}

/* Tablet View - Medium Screens */
@media (min-width: 681px) and (max-width: 1024px) {
  .form-container {
    max-width: 1680px;
  }

  .contact-info {
    margin-right: 45px;
  }

  .title {
    color: hsl(39, 91%, 66%);
    font-size: 2rem;
    font-weight: 600;
  }
}

/* Mobile View - Small Screens */
@media only screen and (max-width: 680px) {
  .form-container {
    display: block;
  }

  .contact-info {
    text-align: center;
    margin-right: 0;
  }

  .real-info {
    padding-top: 15px;
  }

  .title {
    font-size: 1.5rem;
  }

  textarea {
    width: 120%;
    resize: none;
  }
}
