.header-container {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}

.rebecca-text {
  font-size: 3rem;
  color: #f7c059;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
  display: block;
}

.rebecca-text:hover {
  transform: scale(1.05);
}


.hbg-menu {
  display: none;
}

.hbg-menu img {
  height: 50%;
  cursor: pointer;
  width: 50%;
}


@media(max-width: 990px) {
  .header-container {
    position: initial;
    margin-top: 20px;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

  }

  .hbg-menu {
    display: initial;
    display: flex;
    justify-content: flex-end;
  }

  .hbg-menu img {
    height: 20%;
    cursor: pointer;
    width: 20%;
  }
}

@media(max-width: 500px) {
  .header-container {
    position: initial;
    margin-top: 20px;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

  }
  .hbg-menu img {
    height: 50%;
    cursor: pointer;
    width: 50%;
  }

  .hbg-menu {
    display: initial;
    display: flex;
    justify-content: flex-end;
  }

}