.header-container {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}

.rebecca-text {
  font-size: 3rem;
  color: #f7c059;
  ;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
  display: block;
}

.liu-text {
  color: white;
  text-shadow: 0 0 15px #f7c059;
}

.rebecca-text:hover {
  transform: scale(1.05);
}


.hbg-menu {
  display: none;
}

.hbg-menu img {
  height: 50%;
  cursor: pointer;
  width: 50%;
}


@media only screen and (min-width: 681px) and (max-width: 1024px) {
  .header-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: center;
    /* Center items vertically */
    padding: 1rem 9%;
    overflow: visible;
    z-index: 100;

  }

  /* .hbg-menu {
    display: initial;
    display: flex;
    justify-content: flex-end;
  }

  .hbg-menu img {
    height: 15%;
    cursor: pointer;
    width: 15%;
  } */


  .rebecca {
    text-align: center;
    /* Center the text */
    margin-bottom: 2rem;
    /* Add some space between the text and the nav */
  }
}

@media only screen and (max-width: 680px) {
  .header-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: center;
    /* Center items vertically */
    padding: 1rem 9%;
    overflow: visible;
    z-index: 100;

  }
  .rebecca {
    text-align: center;
    /* Center the text */
    margin-bottom: 2rem;
    /* Add some space between the text and the nav */
  }
}