.nav-link {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  color: #f7c059;
  border-bottom: 3px solid #f7c059;
}

@media (max-width:995px) {
  .nav-container {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #f7c059;
    border-bottom: 3px solid #f7c059;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: #161616;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1)
  }


  .nav-container:active {
    display: block;
  }

  .nav-link {
    display: block;
    font-size: 2rem;
    /* margin: 3rem 0; */
    margin: 3rem;
  }

  .nav-link:hover, .nav-link:active 
  {
    padding: 1rem;
    border-radius: 0.5rem;
  }


}