.nav-link {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}



.nav-link:hover,
.nav-link:active {
  color: #f7c059;
  border-bottom: 3px solid #f7c059;
  display: inline-block;
  transform: scale(1.1);
}


@media only screen and (min-width: 681px) and (max-width: 1024px) {
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

  }

  .nav-link {
    margin-left: 1rem;
  }
}



@media only screen and (max-width: 680px) {
  .nav-container {
    display: flex;
    justify-content: center;
    width: 100%;

  }

  .nav-link {
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-right: 10px;
  }

}