.project-title {
  font-size: 2rem;
  color: #f7c059;
  margin-bottom: 24px;
}

.project-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
}

.project-title-div {
  height: 100px;
}
.filter-buttons-section {
  display: flex;
  justify-content: center;
  gap: 1.1rem;
  padding-top: 20px;
}

.filter-buttons {
  background-color: rgba(82, 82, 82, 0.508);
  color: #f7c059;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  transition: 0.2s ease-in;
}

.filter-buttons:hover {
  cursor: pointer;
  /* background-color: rgba(214, 214, 214, 0.508); */
  box-shadow: 0 0 25px #f7c0599e;
  transform: scale(1.1);
}

.filter-buttons:focus {
  background-color: #202020;
  box-shadow: 0 0 25px #f7c0599e;
}

.pc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  height: 700px;
  padding: 50px;
  order: 0.5px solid rgb(245, 184, 86);
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(214, 214, 214, 0.508);
  transform: scale(0.95);
  cursor: pointer;
}

a {
  text-align: center;
}

.pc-container img {
  border-radius: 15px;
}

.tech {
  font-size: 20px;
  margin-top: 20px;
}

.tech-text {
  font-size: 20px;
  color: #f7c059;
  font-weight: 600;
}

.description {
  margin-top: 30px;
  font-size: 1.2rem;
  color: white;
  text-align: left;
}

.pc-container:hover {
  transition: 0.5s ease;
  transform: scale(1.005);
  box-shadow: 0 0 40px rgba(255, 210, 96, 0.881);
}

@media only screen and (max-width: 2000px) {
  .pc-container {
    width: auto;
    margin-top: 20px;
  }

  .project-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}

@media only screen and (max-width: 1440px) {
  .pc-container {
    width: auto;
    margin-top: 20px;
  }

  .project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

@media only screen and (max-width: 680px) {
  .pc-container {
    width: auto;
    margin-top: 20px;
  }
  .project-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .pc-container img {
    width: 300px;
    height: auto;
  }
}
